<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aleibovici.ntnxapi</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>25B7AFDF-D951-498B-9217-4F521DB9FBB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5134BAB2-59BC-46F1-86DF-7DFCD2FC5D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5134BAB2-59BC-46F1-86DF-7DFCD2FC5D8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58B62068-79A4-48F6-86F1-678230513758</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>PowerOff</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7045E573-C993-45F7-8141-15C10473D177</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F65BCB8E-8C7D-495F-8DC2-B05235DDB032</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Andre Leibovici</string>
	<key>description</key>
	<string>Nutanix host and vm management</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nutanix API</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>clusters</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>25B7AFDF-D951-498B-9217-4F521DB9FBB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/usr/bin/python ntnx_get.py --poweroff "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58B62068-79A4-48F6-86F1-678230513758</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>ntnx get</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python ntnx_get.py --get "{query}"</string>
				<key>title</key>
				<string>Nutanix Get...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5134BAB2-59BC-46F1-86DF-7DFCD2FC5D8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/usr/bin/python ntnx_get.py --poweron "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7045E573-C993-45F7-8141-15C10473D177</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>ntnx config</string>
				<key>queuedelaycustom</key>
				<integer>10</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python ntnx_config.py "{query}"</string>
				<key>title</key>
				<string>Nutanix Config...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F65BCB8E-8C7D-495F-8DC2-B05235DDB032</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>'pip install --user -U pip' must be executed beforehand</string>
	<key>uidata</key>
	<dict>
		<key>25B7AFDF-D951-498B-9217-4F521DB9FBB6</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>5134BAB2-59BC-46F1-86DF-7DFCD2FC5D8E</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>58B62068-79A4-48F6-86F1-678230513758</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>7045E573-C993-45F7-8141-15C10473D177</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>F65BCB8E-8C7D-495F-8DC2-B05235DDB032</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://myvirtualcloud.net</string>
</dict>
</plist>
